<h3>Hi, <%= @user.first_name %>, </h3>

<p> Thanks for joining Social-Net through your Facebook Account.</p>

<p> Please find your initial password here: </p>

<h3> <%= @password %> </h3>

<p> 
  Remember to change this initial password for better security!
</p>








