<div class="row mt-5">

  <div class="col-md-6 mx-auto">
    <h1 class="mb-5">Connecting with friends and the
    world on social-net </h1>
    
    <ul>
      <li class="my-3"> <i class="far fa-address-card fa-2x mr-2" style="color: Tomato;"></i> <b>See photos and updates</b> from friends in News Feed. </li>
      <li class="my-3"> <i class="far fa-newspaper fa-2x mr-2" style="color: Dodgerblue;"></i> <b>Share what's new</b> in your life on your Timeline. </li>
      <li class="my-3"> <i class="fas fa-network-wired fa-2x mr-2" style="color: Mediumslateblue;"></i> <b>Find more</b> of what you're looking for with Facebook Search. </li> 
    </ul>

  </div>

  <div class="col-md-6 mx-auto">
    <%= render "shared/signup" %>
  </div>

</div>
