<div class="col-md-4 my-4">
  <div class="card text-center col-md-12" >
    <%= image_tag user.gravatar_url, class: "rounded-lg rounded-pill w-25 mx-auto mt-2" %>
    <div class="card-body">
      <h6 class="card-title text-center"> <%= user.name %> </h6>
      <p class="card-text"><small><b>From:</b> China</small></p>
      <p class="card-text"><small>Joined at <%= time_ago_in_words(user.created_at) %> ago. </small></p>
      <%= link_to "More..", users_show_path(user), class: "btn btn-info"%>
    </div>

  </div>
</div>