<div class="row">
  <div class="col-md-3">
    <%= render 'shared/personal_info', user: current_user %>
  </div>

  <div class="col-md-9 bg-light d-flex justify-content-around">
    <div class="row"> 
      <%= render @not_friends %>
    </div>
  </div>

</div>