<div class="row">
  <div class="col-md-2">
    <%= render 'shared/personal_info', user: @user  %>
  </div>

  <div class="col-md-8">
    <%= render @myposts %>
  </div>

  <div class="col-md-2 bg-light">
    <%= render 'shared/friend_list', user: @user %>
  </div>

</div>