<div class="containter pt-3">
  <h5 class="text-secondary">Friends:</h6>
    <% if user.friends.empty? %>
      <small class="text-warning">
        <%= "Don't friends? Go add some." %>
      </small>
    <% else %>
      <% user.friends.each do |f|  %>
        <%= render 'users/user_list', user: f %>
      <% end %>
    <% end %>

</div>