
<div class="row">
  <div class="col-md-8 mx-auto">
    <h2 class="text-center">Sign up</h2>

    <%= render 'form' %>  
  </div>
</div>

<div class="mx-auto">
  <%= render "users/shared/links" %>
</div>